#my_online_camera video{
    width:320px;
    height:240px;
    margin:15px;
    float:left;
}

#my_picture canvas{
    width:320px;
    height:240px;
    margin:15px;
    float:left;
}

#my_picture button{
    clear:both;
    margin:30px;
}

#main-container {
    margin-top: 30px;
}

.bottom-center {
    position: fixed;
    bottom: 20px;
    margin: 0 auto;
    left: 0;
    right: 0;
}